#signButton {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #0070e9;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}